<style>
.phi-datetime-2digits {
	width: 2em;
}
</style>
<fieldset>
    <legend>Time of today</legend>
    <!--  ko foreach: timesOfToday -->
    <button data-bind="text: $data, click: $parent.setTimeOfToday">Clock Time</button>
    <!-- /ko -->
</fieldset>
<fieldset>
    <legend>Date and Time</legend>
    <div>Current System Time is: <span data-bind="text: simTimeUTC().toUTCString()"></span></div>
    
    <div data-bind="datepicker: { value: simTimeUTC }"></div>
    <div>
        <input class="phi-datetime-2digits" data-bind="spinner: { value: hour, spin: wrapHour, page: 6 }" /> 
        <input class="phi-datetime-2digits" data-bind="spinner: { value: minute, spin: wrapMinute }" />
        
    </div>

</fieldset>
